.drawerLink {
  border-radius: 5px;
  padding: 5px 10px;
  display: block !important;
}

.linkItem {
  display: flex;
  align-items: center;
}
.drawerLink:hover {
  width: 100%;
  color: "#333";
  background-color: #f4f4f4;
}
.modalInputContainer {
  position: relative;
}

.modalInputContainer > input {
  margin-top: 10px;
  font-size: 18px;
}

.modalInputContainer > h5 {
  margin-top: 5px;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-weight: 500;
  color: #838282;
}
