@import "../../partials/mixins";

.mainAboutSection {
  .subtitles {
    @include subTitle;
  }
  .aboutSection {
    margin-top: 30px;
    text-align: center;
    img {
      width: 5.1rem;
      height: 5.1rem;
      border: 7px solid rgba(66, 11, 161, 0.1);
      border-radius: 50%;
    }
    .titles {
      @include title;
      margin-top: 5px;
    }
  }
  .aboutText {
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-weight: 600;
  }
}

// @media (min-width: 768px) {
//   .mainAboutPage {
//     position: fixed;
//     overflow-y: scroll;
//     width: 100%;
//     height: 100%;
//   }
//   ::-webkit-scrollbar {
//     width: 10px;
//   }
//   ::-webkit-scrollbar-track {
//     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//   }
// }
