.ProseMirror {
  padding: 10px;
  background: inherit;
  border-radius: 0 0 5px 5px;
  min-height: 70px;
}
.ProseMirror:focus {
  border: none;
  outline: none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}
.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}

.ProseMirror code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}
/* ............................ */
.textEditor {
  border: 1px solid #80808066;
  border-radius: 10px;
  color: inherit;
}
.menuBar {
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #80808066;
  padding-top: 5px;
}
.menuBar button {
  font-size: 14px;
  margin: 3px;
  margin-right: 0px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer !important;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}

button.is_active {
  background: rgb(197, 197, 197) !important;
  padding: 2px 3px;
  border-radius: 2px;
}
/* menstion list */
.items {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
}
.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}
.item {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  text-align: left;
  width: 100%;
}
.item.is-selected {
  border-color: #000;
}
button.send-btn {
  background: #ee00ab;
  color: white;
  padding: 10px !important;
  border-radius: 30px;
}
button.send-btn:hover {
  background: #de04a0;
  color: white;
}
textarea.text-msg {
  border: none;
  resize: none;
  color: darkcyan;
  background: transparent;
  position: relative;
  width: 100%;
  top: 10px;
}
textarea.text-msg:focus {
  outline: none;
  border: none;
}
