.mainDiv {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .mainDiv {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0px;
    .chatBody {
      overflow: hidden;
      overflow-y: scroll;
    }
    .chatMenus {
      z-index: 15;
      position: fixed;
    }
  }
}
