.nav {
  width: 80px;
  height: 100%;
  text-align: center;
  padding: 25px 0;

  .middleMenus {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    margin-top: 45px;
  }
  .bottomMenus {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    margin-top: 45px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .singleMenu {
      display: none;
    }
    .middleMenus {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      margin: 0;
    }
    .bottomMenus {
      display: flex;
      flex-direction: row-reverse;
      row-gap: 0;
      margin-top: 0;
      position: relative;
      .profileAvatar {
        position: absolute;
        left: 30px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
