@media (min-width: 768px) {
  #nav-dash {
    position: fixed;
    overflow-y: scroll;
    width: 100px;
    height: 90%;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}
