#nav-dash {
  position: relative;
}
@media (min-width: 1200px) {
  #nav-dash {
    width: 100px;
    height: 100%;
    background: rgba(0, 255, 179, 0.151);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 4px rgb(66 11 161 / 20%);
    z-index: 999;
  }
}
@media (min-width: 1200px) and (max-width: 900px) {
  #nav-dash {
    width: 70px;
    height: 100%;
    background: rgba(0, 255, 179, 0.151);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 4px rgb(66 11 161 / 20%);
    z-index: 999;
  }
}

@media (max-width: 899px) {
  .mobile-menu {
    position: fixed;
    z-index: 11111;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    background: rgb(245 245 245 / 24%);
    padding: 8px 0;
  }
  .mobile-menu button {
    margin: 0px !important;
  }
}
